<div>
  <h1>Share your mood</h1>
  <br>
  Please enter your emoji code here:<br>
  <form action='/emojis' method='post'>
    <input name='authenticity_token' type='hidden' value='token_value'>
    <input type='text' name='mood'><input type='submit' value='Check Code'>
  </form>
</div>
