<div class='wrapper'>
  <div class='form'>
    <% if flash[:fail] %>
      <p><%= flash[:fail] %></p>
    <% end %>
    <form action='/login' method='post'>
      <input name='authenticity_token' type='hidden'>
      <table class='login'>
        <tr>
          <td>User name:</td>
          <td><input type='text' name='user[name]'></td>
        </tr>
        <tr>
          <td>Password:</td>
          <td><input type='password' name='user[password]'></td>
        </tr>
        <tr>
          <td colspan='2' align='right'><input type='submit' value='Log In'></td>
        </tr>
      </table>
    </form>
  </div>
</div>
