.wrapper{
  width: 700px;
  height: 100%;
  margin: 0px auto;
  text-align: center;
  align-items: center;
}
.random{
  width: 380px;
  margin: 20px auto;
  padding: 10px;
  border: 1px solid silver;
}
