// Place all the styles related to the Surverys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.wrapper{
  width: 700px;
  margin: 0px auto;
}
form{
  width: 380px;
  margin: 30px auto;
  padding: 10px;
  border: 1px solid silver;
}
table{
  width: 370px;
}
.message{
  width: 380px;
  margin: 30px auto;
  padding: 10px;
  border: 1px solid silver;
}
