.wrapper{
  width: 100%;
}
.user_form{
  width: 33%;
  border: 1px solid silver;
  margin: 100px auto 0px;
  padding: 20px;
}
td{
  padding: 2px;
}
span{
  color: red;
  font-size: 12px;
}
.session_form{
  width: 24%;
  border: 1px solid silver;
  margin: 100px auto 0px;
  padding: 20px;
}
.top{
  width: 70%;
  margin: 0px auto;
  // border: 1px solid silver;
}
.username, .logout{
  display: inline-block;
  width: 49%;
}
.logout{
  text-align: right;
}
.create{
  width: 50%;
}
.create table{
  width: 100%;
}
.create textarea{
  width: 98%;
}
.secrets{
  width: 100%;
}
