html, body{
  height: 100%;
  min-height: 100%;
}
.wrapper{
  width: 100%;
  height: 100%;
  margin: 0px auto;
  display: flex;
  align-items: center;
}
.form{
  width: 25%;
  margin: 0px auto;
  padding: 10px;
  border: 1px solid silver
}
.login{
  margin: 0px auto;
}
.content{
  width: 70%;
  margin: 0px auto;
}
.top_menu{
  width: 100%;
  margin: 0px auto;
  // border: 1px solid silver;
}
.welcome, .logout{
  display: inline-block;
  width: 48%
}
.welcome{
  padding-left: 10px;
}
.logout{
  text-align: right;
  padding-right: 10px;
}
.subcontent{
  width: 100%;
}
.add_post{
  width: 100%;
  text-align: right;
}
.add_post textarea{
  width: 95%;
}
form{
  margin-right: 10px;
}
.display{
  width: 100%;
}
.sub_display{
  width: 100%;
  text-align: right;
}
.sub_display textarea{
  width: 91%
}
.post{
  margin-left: 30px;
}
.comment{
  margin-left: 60px;
}
