<div class='wrapper'>
  <div class='registration'>
    <form action='users/' method='post'>
      <table>
        <tr>
          <td>First Name*:</td><td><input type='text' name='user[first_name]'></td>
        </tr>
        <tr>
          <td>Last Name*:</td><td><input type='text' name='user[last_name]'></td>
        </tr>
        <tr>
          <td>Email*:</td><td><input type='text' name='user[email]'></td>
        </tr>
        <tr>
          <td>Password*:</td><td><input type='text' name='user[password]'></td>
        </tr>
        <tr>
          <td>Confirm Password*:</td><td><input type='text' name='user[confirm_password]'></td>
        </tr>
        <tr>
          <td colspan='2' align='right'><input type='submit' value='Register'></td>
        </tr>
      </table>
    </form>
  </div>
</div>
